<% content_for :for_head do %>
  <title>ScrapeHub | My Bookmarks</title>
<% end %>

<div class="container container-index">

      <% if @boroughs.empty? %>
      <div class="empty-bookmark">
      <br>
      <br>
      <p><i class="fas fa-arrow-alt-circle-right"></i> This page will give you access to you search once you save them <i class="fas fa-archive"></i></p>
      <br>
      <br>
      <br>
      <br>
      </div>
      <% end %>
<div class="card-container">
      <% @boroughs.each do |borough| %>
    <div class="data-card <%= 'top-ranking' if borough == @top_income %>">
      <div class="borough-name">
        <a> <%= link_to borough.name, borough_path(borough, category: current_user.bookmarks.where(borough: borough).first.category) %></a>
      </div>
        <div class="data-info">
          <p class="star">
          <% (borough.happiness_score_out_of_10 / 2).times do %>
          <i class="fas fa-star"></i><% end %> </p><p> </p><p> <b>Population</b> <%= borough.population %> </p>
        </div>
        <div class="data-info">
          <p><b>Average Age</b></p><p><%= borough.average_age %> - Years Old </p>
        </div>
        <div class="data-info-col">
          <p><b>Gross Average Income</b></p>
          <p>£<%= borough.gross_income %></p>
        </div>
        <div class="data-info-col">
          <p><b>Business Survival rates</b>(2yrs)</p>
          <p><%= borough.two_year_business_survival_rates %> %</p>
        </div>
        <div class="data-info-col">
          <p><b>Number of <%= borough.bookmarks.select{|bookmark|bookmark.user.id == current_user.id}.first.category %>s in area</b></p>
          <p><%= (Company.where(category: borough.bookmarks.select{|bookmark|bookmark.user.id == current_user.id}.first.category).where(borough: borough).count)*6 %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>


