
<div class="container container-index">
      <div class=results>Results (<%= @boroughs.count %>)</div>
    <div class="card-container">
      <% @boroughs.each do |borough| %>
    <div class="data-card <%= 'top-ranking' if borough == @top_income %>">
      <div class="borough-name">
        <div class="b-name">
         <a> <%= link_to borough.name, borough_path(borough, category: params[:search][:category]) %></a>
        </div>
        <div class="bookmark-index">
          <% if @bookmark.nil? %>
          <%= link_to bookmark_path(@borough,category: params[:category]), method: :post, remote: true do %>
            <i class="far fa-bookmark"></i>
          <% end %>
          <% else %>
            <i class="fas fa-bookmark"></i>
          <% end %>
        </div>
      </div>
        <div class="data-info">
          <p id="star"> ★ <%= (borough.happiness_score_out_of_10 / 2.to_f) %> </p><p class="padding-pop" > <b>Population</b> <%= borough.population %> </p>
        </div>
        <div class="data-info">
          <p class="padding-age"><b>Average Age</b></p><p><%= borough.average_age %> - Years Old </p>
        </div>
        <div class="data-info-col">
          <p><b>Gross Average Income</b></p>
          <p>£<%= borough.gross_income %></p>
        </div>
        <div class="data-info-col">
          <p><b>Business Survival rates</b> (2yrs)</p>
          <p><%= borough.two_year_business_survival_rates %> %</p>
        </div>
        <div class="data-info-col">
          <p><b>Number of <%= params[:search][:category] %>s in area</b></p>
          <p><%= @companies.where(borough: borough).count %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

