<div class="data-info" >
  </div>
  <div class="data-info">
    <p id="star"> ★ <%= (borough.happiness_score_out_of_10 / 2.to_f) %> </p><p> <b>Population</b> <%= borough.population %> </p>
  </div>
  <div class="data-info">
    <p><b>Average Age</b></p><p><%= borough.average_age %> - Years Old </p>
  </div>
  <div class="data-info">
    <p><b>Gross Average Income</b></p>
    <p>£<%= borough.gross_income %></p>
  </div>
  <div class="data-info">
    <p><b>Business Survival rates</b>(2yrs)</p>
    <p><%= borough.two_year_business_survival_rates %> %</p>
  </div>
  <div class="data-info">
    <p><b>Number of <%= params[:category] %>s in area</b></p>
    <p><%= @companies.count %></p>
  </div>


