<div class="container">
  <h1>London Boroughs | Result </h1>
    <div class="card-container">
      <% @boroughs.each do |borough| %>
    <div class="data-card">
      <div class="borough-name">
        <p><%= borough.name %></p>
      </div>
        <div class="data-info">
          <p>Happiness Score</p><p> <%= borough.happiness_score_out_of_10 %> / 10 </p>
        </div>
        <div class="data-info">
          <p>Borough area</p><p> <%= borough.area %> H2 </p>
        </div>
        <div class="data-info">
          <p>Population</p><p> <%= borough.population %>  </p>
        </div>
        <div class="data-info">
          <p>Average Age</p><p><%= borough.average_age %> - Years Old </p>
        </div>
        <div class="data-info">
          <p>Gross average Income</p><p>£<%= borough.gross_income %></p>
        </div>
        <div class="data-info">
          <p>Two yr business survival rate</p><p><%= borough.two_year_business_survival_rates %> %</p>
        </div>
        <%= link_to borough.name, borough_path(borough) %>
      </div>
    <% end %>
  </div>
</div>
