<table class=".data-comparison-table">
            <thead>
              <tr class="what-we-do-table">
                <th class="table-data-borough"></th>
                <% companies.each do |company| %>
                <th><%= company.name %><br></th>
                <% end %>

                <th><br></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="table-data-borough">Date of Incorporation</td>
                <% companies.each do |company| %>
                <td><%= company.date_of_incoporation %></td>
                <% end %>
              </tr>
              <tr>
                <td class="table-data-borough">CEO</td>
                <% companies.each do |company| %>
                <td><%= company.ceo %></td>
                <% end %>
              </tr>
              <tr>
                <td class="table-data-borough">Number of Employees 2019</td>
                <% companies.each do |company| %>
                <td><%= company.number_of_employees %></td>
                <% end %>
              </tr>
              <tr>
                <td class="table-data-borough">Turnover 2019</td>
                <% companies.each do |company| %>
                <td><%= company.turnover %></td>
                <% end %>
              </tr>
              <tr>
                <td class="table-data-borough">Profit 2019</td>
                <% companies.each do |company| %>
                <td><%= company.profit %></td>
                <% end %>
              </tr>
              <tr>
                <td class="table-data-borough">Members</td>
                <% companies.each do |company| %>
                <td><%= company.members %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
