<div class="row">
  <div class="big-footer">
    <div class="home-page-upper-footer">
      <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam possimus quasi repellat quo inventore officiis explicabo consectetur, quisquam quos vero deleniti? Rerum eum voluptatem nesciunt atque facere, quia consectetur tempore.</p>
      </div>
    </div>

    <div class="home-page-lower-footer">
      <div class="container">
        <div class="light-footer-links">
          <ul>
            <li class="header">Solutions</li>
            <li><%= link_to "Data", root_path %></li>
            <li><%= link_to "Sales", root_path %></li>
            <li><%= link_to "Developers", root_path %></li>
          </ul>
          <ul>
            <li class="header">Products</li>
            <li><%= link_to "Advertising", root_path %></li>
            <li><%= link_to "Alerts", root_path %></li>
            <li><%= link_to "Connect", root_path %></li>
          </ul><ul>
            <li class="header">Information</li>
            <li><%= link_to "Pricing", root_path %></li>
            <li><%= link_to "Data Attributes", root_path %></li>
            <li><%= link_to "Support", root_path %></li>
            <li><%= link_to "Documentation", root_path %></li>
            <li><%= link_to "Status", root_path %></li>
            <li><%= link_to "Comparisons", root_path %></li>
          </ul><ul>
            <li class="header">Company</li>
            <li><%= link_to "About", root_path %></li>
            <li><%= link_to "Blog", root_path %></li>
            <li><%= link_to "Careers", root_path %></li>
            <li><%= link_to "Press", root_path %></li>
            <li><%= link_to "Twitter", root_path %></li>
            <li><%= link_to "Facebook", root_path %></li>
          </ul><ul>
            <li class="header">Legal</li>
            <li><%= link_to "Claim", root_path %></li>
            <li><%= link_to "Privacy", root_path %></li>
            <li><%= link_to "Terms", root_path %></li>
          </ul>
        </div>
        <div class="footer-logo">
          <%= link_to "#", class: "navbar-brand" do %>
            <div class="logo-background">
              <p class="logo-text">S|H</p>
            </div>
          <% end %>
          <div class="copyright-info">
            <p><i class="far fa-copyright"></i> ScrapeHub 2021</p>
          </div>
        </div>
      </div>
      <%# <span></span> %>
    </div>
  </div>
</div>
