<div class="top-bar d-none d-lg-block fixed-top">
  <div class="container">
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <%= link_to "/", class: "navbar-brand" do %>
          <div class="logo-background">
            <p class="logo-text">S|H</p>
          </div>
        <% end %>
        <%= link_to "Home", root_path %>
        <%= link_to "Searches", "https://www.google.com" %>
        <%= link_to "About Us", "https://www.google.com" %>
        <%= link_to "Blog", "https://www.google.com" %>

        <%= link_to "My Books", signed_in? ? my_bookmarks_path(current_user) : new_user_session_path %>

        <% if user_signed_in? %>
        <%= link_to "My Books", my_bookmarks_path(current_user.id) %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="log-out-navbar-button">
              <p class="log-out-text">Log Out</p>
            </div>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="log-out-navbar-button">
              <p class="log-out-text">Log In</p>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
