<div class="navbar-stripe">
  <div class="container">
    <div class="navbar-content">
      <%= link_to "S|H", "/", class: "logo" %>
      <%= link_to "Home", root_path %>
      <%= link_to "About Us", about_path %>
      <%= link_to "Blog", blog_path %>
      <%= link_to "Bookmarks", signed_in? ? my_bookmarks_path(current_user) : new_user_session_path %>
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, class: "login-out" %>
      <% else %>
        <%= link_to "Log In", new_user_session_path, class: "login-out" %>
      <% end %>
      <div class="menu-toggle">
        <div class="hamburger"></div>
      </div>
    </div>
  </div>
</div>