
<% content_for :for_head do %>
  <title>ScrapeHub | Data for <%= @borough.name %></title>
<% end %>
<body class="top-bar-transparent-ident">
  <div class="row">
    <div class="home-main-banner">
      <div class="container">
        <div class="show-page">
          <div class="borough-details">
            <div class="bookmark-title">
              <h3 class="borough-name-show bname-show"><%= @borough.name %> </h3>
              <div>
                <% if @bookmark.nil? %>
                <%= link_to bookmark_path(@borough,category: params[:category]), method: :post, remote: true do %>
                  <i class="far fa-bookmark"></i>
                <% end %>
                <% else %>
                  <i class="fas fa-bookmark"></i>
                <% end %>

              </div>
            </div>

            <div class="show-borough-info">
              <%= render "shared/card_info", borough: @borough %>
            </div>

          </div>

          <div class="show-map">
            <div id="map"
                style="height: 470px; min-width: 371px; border-radius: 15px;"
                data-markers="<%= @markers.to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="business-information">
        <h4>BUSINESS INFORMATION</h4>
        <p><%= @borough.description %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <div class="business-information">
        <h4>COMPETITION ANALYSIS</h4>
        <div class="comp-data">
          <%= render "shared/company_analysis", companies: @companies %>
          <div class="flourish-embed flourish-map" data-src="visualisation/5530599"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
        </div>
     </div>
    </div>
  </div>
</body>
