<div class="row">
  <div class="home-main-banner">
    <div class="container">
      <div class="show-page">
        <div class="borough-details col-8">
          <h3 class="borough-name"><%= @borough.name %></h3>
          <div class="show-borough-info">
            <%= render "shared/card_info", borough: @borough %>
            <br>
            <h4>Business Information </h4>
            <p><%= @borough.description %></p>
            <br>
            <h4>Competition Analysis</h4>
            <p><div class="">
          <%= render "shared/company_analysis", company: @company %>
        </div></p>
          </div>
       </div>
          <div class="show-map">
          <div class="show-map" style="background-image: url('<%= image_path "COL.png" %>')">
         </div>
     </div>
     <%= link_to bookmark_path(@borough), method: :post, remote: true do %>
      click
     <% end %>


    </div>
  </div>
</div>

