<div class="row">
  <div class="home-main-banner">
    <div class="container">
      <div class="show-page">
        <div class="borough-details col-8">
          <h3 class="borough-name"><%= @borough.name %></h3>
          <div class="show-borough-info">
            <%= render "shared/card_info", borough: @borough %>
            <br>
            <h4>Business Information </h4>
            <p><%= @borough.description %></p>
            <br>
            <h4>Competition Analysis</h4>
            <p>
              <div class="">
                <%= render "shared/company_analysis", companies: @companies %>
              </div>
            </p>
          </div>
        </div>
      </div>
      <div class="show-map">
        <!-- <div class="show-map" style="background-image: url('<%= image_path "COL.png" %>')"></div> -->
        <div id="map"
            style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>

