<!DOCTYPE html>
<html>
  <head>
    <title>ScrapeHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div class="top-bar d-none d-lg-block">
      <div class="container">
        <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
          <%# <div class="navbar-links"> %>
            <%= link_to "#", class: "navbar-brand" do %>
              <div class="logo-background">
                <p class="logo-text">S|H</p>
              </div>
            <% end %>

            <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button> %>

            <%= link_to "Home", root_path %>
            <%= link_to "Searches", "https://www.google.com" %>
            <%= link_to "About Us", "https://www.google.com" %>
            <%= link_to "Blog", "https://www.google.com" %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class="log-out-navbar-button">
                <p class="log-out-text">Log Out</p>
              </div>
            <% end %>
          <%# </div>      %>


        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
