<!DOCTYPE html>
<html>
  <head>
    <% title = 'ScrapeHub: Market Analysis with High Level Data Processing.' %>
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% else %>
      <title><%= title %></title>
    <% end %>

    <% description = 'Scrapehub is a data analytics company which specialise in location analysis for business competition. We were founded by our great leader, David Siddle, whose vision is unmatched and whose word is law. All hail the great leader... ALL HAIL' %>
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="...">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:url" content="https://www.scrapehub.xyz">
    <meta property="og:description" content="<%= description %>">


    <meta property="og:image" content="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1615229503/Facebook_Horseshit_vhkess.png"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="og:image/png" href="https://res.cloudinary.com/dlm5qwdjs/image/upload/v1615228203/ScrapeHubFavicon_gihxls.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
